*{
    overflow-y: hidden;
    overflow-x: hidden;
     /* Setting a custom cursor */
    cursor:url(../images/cursor.png), pointer;
}

body{
    background-color: #000;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 0;
}

/* class for placed cards to drop in */

.dropIn {
    animation-name: dropIn;
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes dropIn{
    0%{ transform: scale(4);
    opacity: 0;}
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* Class to fade out card before we remove it from the DOM */

.burnUp {

    animation-name: fadeOut;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    0%{ transform: scale(1);
    opacity: 1;}
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

.jigglyPoo {
    animation-name: cardJiggle;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-duration: 1.5s;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

@keyframes cardJiggle{
    0%{
        transform: rotate(0.01deg);
    }
    20%{
        
        transform: rotate(-1.5deg);
    }
    40%{
        
        transform: rotate(3deg);
    }
    60%{
        
        transform: rotate(-1.5deg);
    }
    80%{
        
        transform: rotate(3deg);
    }
    100%{
        
        transform: rotate(-1.5deg); 
    }
}