body{
    background-color: #000;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 0;
}

/* class for placed cards to drop in */

.dropIn {
    animation-name: dropIn;
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes dropIn{
    0%{ transform: scale(4);
    opacity: 0;}
    100%{
        transform: scale(1);
        opacity: 1;
    }
}